* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* nav bar */
#logo {
    padding: 3px;
    margin: 40px 10px;
    text-transform: uppercase;
    font-size: 40px;
    text-decoration: none;
    color: white;
    float: left;
}

#logo:active {
    color: red;
}


nav {
    background-image: url(https://images5.alphacoders.com/136/thumb-1920-1361030.jpeg);
    background-position: bottom;
    background-color: rgb(255, 164, 207);
    height: 150px;
}

nav ul {
    text-align: right;
}

.nav-li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 30px;
}

.nav-li a {
    color: white;
    font-size: 28px;
    text-decoration: none;
}

.nav-li:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

/* end of nav bar */

/* main section */
header {
    /* header and container class is serperate since the text-align center value effects the header making it also centerish instead of aligning left */
    text-align-last: left;
    width: 680px;
    padding: 10px 0;
    margin: 0 auto;
}

.container {
    width: 680px;
    padding: 10px 0;
    margin: 0 auto;
}

header h1 { /* fix it to where it aligns all the way left properly */
    padding: 0px;
    text-align-last: left;
    font-size: 55px;
    overflow: scroll;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* the subheading under main title*/
h6 {
    margin-top: 10px;
    text-align-last: left;
    color: rgb(185, 185, 185);
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;   
}

h2 {
    font-size: 40px;
    font-weight: 800;
    color:black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

img {
    width: 680px;
    height: 400px;
    border-radius: 5px;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    line-height: 27px;
}

/* footer section */
footer div {
    padding: 5px;
    margin: 10px;
    display: inline-block;
    font-family: ;
}

.copyright {
    margin-bottom: 20px;
}

span {
    color: rgb(185, 185, 185);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    
}

.newsletter {
    margin: 0 0 0 700px;
    width: 400px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
    padding-left: 10px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 8px;
}


button {
    height: 50px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 8px;
    color: white;
    background-color: black;

}


button:active {
    border: 2px solid black;
}

button:hover {
    background-color: #303030;
}

